---
layout: episodes
---
{% include header.html %}
{% include nav.html %}
<main>
    <div class="jumbotron jumbotron-secondary">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a href="{{ site.url }}"><img src="{{ site.url }}/img/avatar.png" alt="{{ site.name }}: {{ site.description }}"></a>
                </div>
                <div class="col-md-9">
                    <h1>{{ page.title }}</h1>
                    <p class="lead">{{ page.excerpt }}</p>
                    <p class="number">Episode #{{ page.number }} / {{ page.date | date: "%B %-d, %Y"}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container news section">
        <div class="row">
            <div class="col-md-12">
                <h2>Listen</h2>
            </div>
        </div>
        <div class="row section">
            <div class="col-md-3">
                <figure class="image">
                    <img src="{{ site.url }}/img/people/{{ page.feat-img }}" alt="{{ page.feat-img-alt }}">
                    <figcaption>{{ page.feat-img-alt }}</figcaption>
                </figure>
            </div>
            <div class="col-md-9">
                <audio id="player" controls>
                    <source src="/audio/{{ page.audio }}" type="audio/mp3" />
                </audio>
                <uL>
                    <!--
                    {% if page.apple %}
                    <li><a href="{{ page.apple }}">Listen on Apple Podcasts</a></li>
                    {% endif %}
                    {% if page.spotify %}
                    <li><a href="{{ page.spotify }}">Listen on Spotify</a></li>
                    {% endif %}
                    {% if page.stitcher %}
                    <li><a href="{{ page.stitcher }}">Listen on Stitcher</a></li>
                    {% endif %}
                    {% if page.pocketcasts %}
                    <li><a href="{{ page.pocketcasts }}">Listen on Pocket Casts</a></li>
                    {% endif %}
                -->
                    <li><a href="https://podcasts.apple.com/us/podcast/the-government-we-need/id1468169431">Listen on Apple Podcasts</a></li>
                    <li><a href="https://open.spotify.com/show/7jZIZh0oxJeq9jPheo9eJq">Listen on Spotify</a></li>
                    <li><a href="https://www.stitcher.com/s?fid=427823&refid=stpr">Listen on Stitcher</a></li>
                    <li><a href="https://pca.st/WQa8">Listen on Pocket Casts</a></li>
                </uL>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-9">
                <h2>In this episode</h2>
                {{ content }}
                {{ page.related }}
                <div class="alert alert-light" role="alert">
                    <h2>The support we need</h2>
                    <p>Thank you to <a href="{{ page.sponsor-link }}">{{ page.sponsor }}</a> for supporting The Government We Need. <i class="fas fa-heart"></i></p>
                    <hr/>
                    <h3>About {{ page.sponsor }}</h3>
                    <p>{{ page.sponsor-about }}</p>
                    <p><a href="{{ page.sponsor-link }}">Visit {{ page.sponsor }}</a> <i class="fas fa-external-link-alt"></i></p>
                </div>
                    <p class="text-right"><a href="/sponsor">Sponsor The Government We Need</a></p>
                <h2>Topics</h2>
                <div class="post-categories">
                    {% if post %}
                    {% assign categories = post.categories %}
                    {% else %}
                    {% assign categories = page.categories %}
                    {% endif %}
                    <ul class="nav nav-pills">
                        {% for category in categories %}
                        <li class="nav-item">
                            <a href="{{site.baseurl}}/topics/{{category|slugify}}">{{ category | capitalize }}</a></li>
                        {% unless forloop.last %}&nbsp;{% endunless %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container about">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-9">
                <h2>About</h2>
                <p><a href="https://thegovweneed.com">The Government We Need</a> is a podcast exploring the government of the future and how it can best serve everyone. <a href="http://eepurl.com/gplCpr">Subscribe</a> to our newsletter and connect with us on <a href="https://twitter.com/thegovweneed">Twitter</a>, <a href="https://facebook.com/thegovweneed">Facebook</a>, <a href="https://instagram.com/thegovweneed">Instagram</a>, <a href="https://linkedin.com/company/thegovweneed">LinkedIn</a> and <a href="https://medium.com/the-government-we-need">Medium</a>.</p>
                <p>Subscribe to The Government We Need on <a href="https://podcasts.apple.com/us/podcast/the-government-we-need/id1468169431">Apple Podcasts</a>, <a href="https://open.spotify.com/show/7jZIZh0oxJeq9jPheo9eJq">Spotify</a>, <a href="https://www.stitcher.com/s?fid=427823&refid=stpr">Stitcher</a> and <a href="https://pca.st/WQa8">Pocket Casts</a></li>.</p>
            </div>
        </div>
    </div>
    {% include episodes.html %}
    {% include subscribe.html %}
</main>
{% include footer.html %}